
extends layout

block content
  if (message)
    #alert
      p= message

  div.jumbotron
  br
  p Struggling to remember what books you want to read? Not anymore! Sign up and you'll be able to create a list of the books you want to read, are reading, or have finished!

